<%= simple_form_for @game do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@game.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :description, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>
    Revisions:
    <ul>
      <%= f.fields_for :revisions do |revisions_form| %>
        <li>
          <%= revisions_form.label :name %><br>
          <%= revisions_form.text_field :name %><br>

          <%= revisions_form.label :description %><br>
          <%= revisions_form.text_field :description %><br>
        </li>
      <% end %>
    </ul>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
