<!DOCTYPE html>
<html>
  <head>
    <title>Roundtable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class="nav-container">
  <div class="nav">
    <%= render "application/nav" %>
  </div>
</div>
<div class="title-container">
  <h1>RoundTable</h1>
  <p class="title-note">The idea-pedia for board game creations</p>
</div>
  <body>
    <div class="container">
      <div class="main-content">

        <% flash.each do |name, message| %>
          <%= content_tag(:div, message, class: "alert") %>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <div class="footer-container">
      <p class="foot-note">InnoTrove Industries</p>
    </div>
  </body>
</html>
